<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kanban System</title>

    <link rel="canonical" href="sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="../../style.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <meta http-equiv="refresh" content="2">
</head>