<html lang="en">
<%- include ('partials/header.ejs') -%>

    <body class="text-center">
        <div class="container-fluid">
            
            <div class="row">
                <div class="col-8 offset-2">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/search">Search</a></li>

                            <li class="breadcrumb-item"><a href="/bundle/add">Add Bundle</a></li>
                            <li class="breadcrumb-item"><a href="/shelf/add">Add Shelf</a></li>
                            <li class="breadcrumb-item"><a href="/bundle/all">All Bundle</a></li>
                            <!-- <li class="breadcrumb-item"><a href="shelf">Single Shelf</a></li> -->
                            <!-- <li class="breadcrumb-item"><a href="shelves">Kanban System</a></li> -->
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-8 offset-2">
                    <h2>Kanban System</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-4 border">
                    <h4>SHURMA 01</h4>
                    <table class="table">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" style="background-color: black; color: #fff;"><span> <b>Shelf Tag :</b></span>34535453345</li>
                            <li class="list-group-item"><span> <b>Bundle Tag:</b></span>2352341231</li>
                            <li class="list-group-item"><b>Bundle Tag:</b></span>7678787667</li>
                        </ul>
                    </table>
                </div>
                <div class="col-4 border">
                    <h4>JAMUNA 01</h4>
                    <table class="table">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" style="background-color: black; color: #fff;"><span> <b>Shelf Tag :</b></span>34535453345</li>
                            <li class="list-group-item"><span> <b>Bundle Tag:</b></span>2352341231</li>
                            <li class="list-group-item"><b>Bundle Tag:</b></span>7678787667</li>
                        </ul>
                    </table>
                </div>
                <div class="col-4 border">
                    <h4>SHURMA 02</h4>
                    <table class="table">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" style="background-color: black; color: #fff;"><span> <b>Shelf Tag :</b></span>34535453345</li>
                            <li class="list-group-item"><span> <b>Bundle Tag:</b></span>2352341231</li>
                            <li class="list-group-item"><b>Bundle Tag:</b></span>7678787667</li>
                        </ul>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </body>

</html>