<html lang="en">
<%- include ('partials/header.ejs') -%>
    <body class="text-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-8 offset-2">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Search</a></li>
                            <li class="breadcrumb-item"><a href="add-product">Add Bundle</a></li>
                            <li class="breadcrumb-item"><a href="add-shelf">Add Shelf</a></li>
                            <li class="breadcrumb-item"><a href="#">Single Shelf</a></li>
                            <li class="breadcrumb-item"><a href="shelves">Kanban System</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row border">
                <div class="col-8 offset-2">
                    <h4>SURMA</h4>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Tag ID</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Size</th>
                                <th scope="col">Color</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>12324432</td>
                                <td>12</td>
                                <td>XL</td>
                                <td>Black</td>
                            </tr>

                            <tr>
                                <th scope="row">2</th>
                                <td>2342343</td>
                                <td>20</td>
                                <td>SM</td>
                                <td>Black</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>12657562</td>
                                <td>30</td>
                                <td>M</td>
                                <td>Black</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </body>
</html>